.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  right: 0%;
  left: 0%;
  bottom: 0rem;
  height: 100%;
}

.carousel-custom-caption {
  margin-top: 20%;
}

.custom-margin {
  padding-left: 20%;
  padding-right: 20%;
}

.custom-margin-faq {
  padding-left: 10%;
  padding-right: 10%;
}
